In [11]:
#D://Python/machine_learning/01/demo13.xls
import pandas as pd
import numpy as np

Получаем XLS файл

In [12]:
xls = pd.ExcelFile('D://Python/machine_learning/01/demo13.xls')

Получаем 1 лист XLS файла

In [13]:
sheet = xls.parse(0)

1. Выбираем 3 столбец(Unnamed 2);
2. Берем строки с 6 по 34;
3. Сбрасываем индекс
4. Выбираем только нужный столбец;
5. Преобразуем серию данных("Мужчины")во фрейм

In [16]:

data = pd.DataFrame({"Мужчины": sheet['Unnamed: 2'][6:34].reset_index()['Unnamed: 2']})

In [17]:
data.head()

  Мужчины
0      44
1    51.1
2    52.2
3    59.1
4    63.2

# Построение и обучение модели

Возьмем среднее как самую простую модель

In [20]:
model = float(data.mean())
print('{0:.4}' .format(model))

64.92

# Вычисление точности модели
расчитаем ошибку по тестовым данным

In [21]:
err = np.abs(data - model).mean()
print('{0:.3}%' .format(float(100*err/model)))

6.05%

# Применение модели
Сравним численность мужского населения с моделью

In [23]:
# 2021 - 67,85 млн
result = 67.85
print('{0:.3}%'.format(100*(result-model)/result))

4.31%

In [26]:
dataW = pd.DataFrame({"Женщины": sheet['Unnamed: 3'][6:34].reset_index()['Unnamed: 3']})

In [27]:
dataW.head()

  Женщины
0    48.7
1    57.3
2      65
3    70.8
4    74.2

# модель Женщины

In [28]:
#Среднее
modelW = float(dataW.mean())
print('{0:.4}'.format(modelW))

75.11

In [29]:
#Ошибка
errW = np.abs(dataW-modelW).mean()
print('{0:.3}%'.format(float(100*err/model)))

6.05%

In [31]:
#2021 - 78,3
resultW = 78.3
print('{0:.3}%'.format(100*(resultW-modelW)/resultW))

4.07%